.project {
    position: relative;
    padding: 0 10px;
    width: 245px;
    margin: 5px !important;

}

.project__card{
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    width: 100%;
    height: 315px;
    display: inline-block;
}

.project__header{
    padding: 10px 0;
    height: 80px;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 78px, 0 100%);
}

.project__skills {
    color: #616161;
    display: flex;
    right:0;
    margin:5px;
    flex-direction: column;
    padding: 0 5px;
}

.project__skills .skill {
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 20px !important;
    border-bottom: 1px solid #eee;
}
.back_side{
    color:white;
}
.row__button .button{
    bottom: 0;
    font-size: 14px !important;
    position: absolute !important;
    left:50%;
    transform: translate(-50%, -50%);
}