.projects{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.projects__content{
    margin: 0 auto;
}
.projects__title{
    margin: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, #64495E, #4C5F9A);
    flex: 1;
    background-clip: text;
    letter-spacing: 2px;
    transition: all .2s;
    color: transparent;
}

